<!--Page to show vacancy of tour dates-->

<!--Load Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!--CSS-->
<style>
    .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
    }
    .bg-1 h3 {color: #fff;}
    .bg-1 p {font-style: italic;}
    </style>

<!--Show information regarding vacancy tickets for a certain month/date-->
<div class="bg-1">
  <div class="container">
    <h3 class="text-center">TOUR DATES</h3>
    <p class="text-center">We bring illuminating music to you.
        <br> Remember to book your tickets!</p>

    <ul class="list-group">
      <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
      <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li>
      <li class="list-group-item">November 19</li>
    </ul>
  </div>
</div>

