<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <!--Load Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!--Load Boostrap JS and jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

        <body>
        <!--Nav bar at the top of the login page.-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Lumnious Alchemy</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'notesync:band_list' %}">HOME</a></li>
                  <li><a href="{% url 'user_auth:user_registration' %}">REGISTER HERE</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <br><br><br>
          
          <h1 style="text-align: center;"> Login as user</h1>

          <form class="container text-center" action="{% url 'user_auth:authenticate_user' %}" method="post">
              {% csrf_token %}
        
              <label>Username</label>
              <input type="text" name="username" placeholder="User" required>
              <br/><br/>
        
              <label>Password</label>
              <input type="password" name="password" required>
              <br/><br/>
        
              <input type="submit" value="login" />

          </form>        
    </body>
</html>


